<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Project </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header" width=device-width>
            <img src='https://upload.wikimedia.org/wikipedia/en/e/e0/Biz2credit_logo.png' style="width: 15%;" />
            <span class="search_isp" > --- Searching ISP made easy! </span>
            <span class="isp_api isp_border"> Total ISP: 09 | API Hits: 748 </span>
        </div>        
    </body>
</html>
