<div class="body2">
  <span>
      <img src="../../assets/kindpng_3299880.png" style="width: 180px; height: 250px; float: left; margin-left: 15px">
  </span>
  <span>
      <div class="right_pane">
          <div class="heading_pane">
    
          </div>
      </div>
  </span>
    

    <div class="rating">
        <strong style="font-size: 25px">Rating:</strong>
    </div>

    <div class="description">

    </div>
    
    <div class="bottom_pane">
     <span><button class="link"><img src="../../assets/110-512.png" style="width:20px; height:20px; "> Link</button></span> 
     <span ><button class="link">Share</button></span>
     <span><button class="link">Download</button></span>
    </div>


  <div class="clear"></div>
</div>