<!DOCTYPE hrml>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div>
            <div class="header_lay">
                <span class="logo_container">
                    <img src="https://upload.wikimedia.org/wikipedia/en/e/e0/Biz2credit_logo.png" class="logo_lay" />
                </span>
                <span class="isp_top_lay">
                    <span>-- serching ISP made easy!</span>
                </span>
                <span class="api_container">
                    <span class="api_hits_lay">Total ISP: 09 | API Hits: 748</span>
                </span>
            </div>
            <div class="bottom_pane">


                <div class="left_pane">
                    <div class="home_row bottom_pane">
                        <span class="home_width">
                            <span class="fa fa-home home_lay">Home</span>
                        </span>
                        <span class="search_width">
                            <input type="search" name="search_label" class="fa fa-search" id="search_label" placeholder="&#8981;  Search (by ISP name, price, rating)" />
                        </span>
                    </div>
                    <div class="service_pane">
                        <div class="service_block">
                            <span class="service_label">&#x0229B; BSNL</span>
                            <span class="service_price">110 &#10689;</span>
                        </div>
                        <div class="service_block">
                            <span class="service_label">&#x0229B; BSNL</span>
                            <span class="service_price">110 &#10689;</span>
                        </div>
                        <div class="service_block">
                            <span class="service_label">&#x0229B; BSNL</span>
                            <span class="service_price">110 &#10689;</span>
                        </div>
                        <div class="service_block">
                            <span class="service_label">&#x0229B; BSNL</span>
                            <span class="service_price">110 &#10689;</span>
                        </div>
                        <div class="service_block">
                            <span class="service_label">&#x0229B; BSNL</span>
                            <span class="service_price">110 &#10689;</span>
                        </div>
                        <div class="service_block">
                            <span class="service_label">&#x0229B; BSNL</span>
                            <span class="service_price">110 &#10689;</span>
                        </div>
                        <div class="service_block">
                            <span class="service_label">&#x0229B; BSNL</span>
                            <span class="service_price">110 &#10689;</span>
                        </div>
                        <div class="service_block">
                            <span class="service_label">&#x0229B; BSNL</span>
                            <span class="service_price">110 &#10689;</span>
                        </div>
                        <div class="service_block">
                            <span class="service_label">&#x0229B; BSNL</span>
                            <span class="service_price">110 &#10689;</span>
                        </div>
                    </div>
                    <div class="sort_pane">
                        <span class="sort_container">&#x02A6F; Sort by</span>
                        <span class="price_rating">
                            <input type="radio" name="sort_by" id="sort_price">Price
                            <input type="radio" name="sort_by" id="sort_rating">Rating
                        </span>
                    </div>
                </div>


                <div class="right_pane">
                    <div class="bottom_pane">
                        <span class="left_data_pane">
                            <img src="https://demo.paydotcom.com/assets/default_product_img-07f70137c3773666a74f166a896962d268c737c665148c13da9816c75a33d36c.png" class="default_img">
                        </span>
                        <span class="right_data_pane">
                            <span class="data_block">
                                <span class="">Airtel</span>
                                <span class=""></span>
                           </span>
                        </span>
                    </div>
                    <div class="rating_pane">
                        <span class="rating_label">Rating:</span>
                    </div>
                    <div class="detail_pane">
                        <span>Our internet plans are now available at never-before prices. You can also opt for a voice top-up pack and enjoy unlimited local and STD calls from your aritel landline.</span>
                    </div>
                    <div class="btn_pane">
                        <span class="btn_layout marign_rg">Link</span>
                        <span class="btn_layout marign_rg">Share</span>
                        <span class="btn_layout">Download</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>